In [2]:
# Import required libraries:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Get rid of warning message
import warnings
warnings.filterwarnings('ignore')

In [12]:
df = pd.read_csv('data/df_train.csv',index_col=0)
df

,product_id,add_to_cart_order,reordered,user_id,order_number,days_since_prior_order,product_name,aisle_id,department_id,aisle,department
order_id,,,,,,,,,,,
1,49302,1,1,112108,4,9.0,Bulgarian Yogurt,120,16,yogurt,dairy eggs
816049,49302,7,1,47901,14,16.0,Bulgarian Yogurt,120,16,yogurt,dairy eggs
1242203,49302,1,1,2993,15,7.0,Bulgarian Yogurt,120,16,yogurt,dairy eggs
1383349,49302,11,1,41425,4,14.0,Bulgarian Yogurt,120,16,yogurt,dairy eggs
1787378,49302,8,0,187205,5,30.0,Bulgarian Yogurt,120,16,yogurt,dairy eggs
...,...,...,...,...,...,...,...,...,...,...,...
3420011,1528,12,0,177077,4,30.0,Sprinkles Decors,97,13,baking supplies decor,pantry
3420084,47935,20,0,9808,9,30.0,Classic Original Lip Balm SPF 12,73,11,facial care,personal care
3420084,9491,21,0,9808,9,30.0,Goats Milk & Chai Soap,25,11,soap,personal care
3420088,16380,12,0,72444,14,5.0,Stevia Sweetener,97,13,baking supplies decor,pantry
3420895,38900,9,1,20949,7,21.0,Plain Golden Toasted Bread Crumbs,5,13,marinades meat preparation,pantry

In [14]:
df = df.drop(['aisle_id', 'department_id','aisle','department','product_id','user_id'], axis=1)

In [4]:
# We must import the required packages:
import nltk
nltk.download('stopwords')
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/mkushka/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [5]:
# tokenizer function
stemmer = PorterStemmer()
ENGLISH_STOP_WORDS = stopwords.words('english')
def my_tokenizer(sentence):
    '''
    Takes a sentence:
    - Removes the punctuation
    - Separates and Removes Stop Words
    - Stems the remaining tokens
    Returns list of stemmed tokens
    '''
    # remove punctuation and set to lower case
    for punctuation_mark in string.punctuation:
        sentence = sentence.replace(punctuation_mark, '').lower()
    # split sentence into words
    listofwords = sentence.split(' ')
    listofstemmed_words = []
    # remove stopwords and any tokens that are just empty strings
    for word in listofwords:
        if (not word in ENGLISH_STOP_WORDS) and (word != '') and (not word.isdigit()):
            # Stem words
            stemmed_word = stemmer.stem(word)
            listofstemmed_words.append(stemmed_word)
    return listofstemmed_words

In [16]:
# 1. Instantiate 
bagofwords = CountVectorizer(tokenizer=my_tokenizer, min_df=100, max_features=500) #vector consisting of the count of the words

W_transformed = bagofwords.fit_transform(df['product_name']).toarray()

df_transformed = pd.DataFrame(W_transformed, columns=bagofwords.get_feature_names_out())

df_transformed.head()

,aa,acai,ad,age,air,ale,alfresco,almond,almondmilk,altern,...,whole,wild,wipe,yam,yellow,yoghurt,yogurt,yokid,zero,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [18]:
df = df.drop(columns=['product_name']).reset_index(drop=True)

final_df = pd.concat([df_transformed.reset_index(drop=True), df], axis=1)
final_df

,aa,acai,ad,age,air,ale,alfresco,almond,almondmilk,altern,...,yellow,yoghurt,yogurt,yokid,zero,zucchini,add_to_cart_order,reordered,order_number,days_since_prior_order
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,1,4,9.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,7,1,14,16.0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,1,15,7.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,11,1,4,14.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,8,0,5,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1384612,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12,0,4,30.0
1384613,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,20,0,9,30.0
1384614,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,21,0,9,30.0
1384615,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12,0,14,5.0
1384616,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,9,1,7,21.0

In [20]:
#Save the data
#final_df.to_csv("data/final_df.csv", index=False, header=True)

In [3]:
final_df = pd.read_csv('data/df_reduced.csv',index_col=0)
final_df

,ad,age,air,ale,alfresco,almond,almondmilk,altern,american,appl,...,yellow,yoghurt,yogurt,yokid,zero,zucchini,add_to_cart_order,reordered,order_number,days_since_prior_order
acai,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,12,0,8,30.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,13,0,13,18.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,1,30,8.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,15,1,20,1.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4,0,4,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,5,0,32,8.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,1,69,8.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,13,0,13,7.0
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,3,1,25,30.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4,0,59,3.0

Final version of df with numerical columns is saved as a final_df. 
The data set is ready for modeling.